/* TYPOGRAPHY */
body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 72px;
    font-weight: 600;
}

h2 {
    font-size: 45px;
    font-weight: 700;
}

h3 {
    font-size: 40px;
    /* font-weight: 300; */
    font-family: 'Josefin Sans', sans-serif;
}

p {
    font-size: 18px;
    /* font-weight: 300; */
}

p.p-small {
    font-size: 14px;
}

a.button {
    text-decoration: none;
    display: inline-block;
    padding: 5px 20px;
    font-size: 22px;
    border-radius: 30px;
    transition: .1s;
}

a.button-green {
    color: #9FB14B;
    border: 3px solid #9FB14B;
}

a.button-pink {
    color: #CC36A2;
    border: 3px solid #CC36A2;
}

a.button-green:hover {
    background-color: #9FB14B;
    color: white;
}

/* NORAMALIZING */

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

/* CONSTRAINTS */
.container {
    max-width: 1440px;
}

.wrapper {
    padding: 0px 100px;
    margin: auto;
}

/* LAYOUT */

header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px !important;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.hero {
    background: url(../images/sp-background.jpg);
    min-height: 80vh;
    padding: 1px;
    position: relative;
}

.hero div {
    position: absolute;
    bottom: 50;
}

.banner-filled-pink {
    background-color: #CC36A2;
    color: white;
    text-align: center;
    padding: 1px;
}

.banner-border-green {
    border-top: 3px solid #9FB14B;
    border-bottom: 3px solid #9FB14B;
    text-align: center;
}

.trip-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

footer {
    background-color: #333333;
    color: white;
}

/* NAVIGATION */

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav.primary-nav ul {
    display: flex;
    grid-gap: 20px;
}

nav ul a {
    text-decoration: none;

}

nav.primary-nav ul a {
    color: #333333;
}